h4{
  font-size: 50px;
}

.input-field input[type=search]{
  width: 30%;
}
.container{ width: 100%;}

li {
  display: inline;
  padding-left: 10px;
}

.list {
  filter: grayscale(100%);

}

.list:hover {
  filter: none;
}

.post-img {
  
}
