.carousel {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;
}

.topics{
  margin: -100 0 0 0;
}

.topic-title img {
  width: 100%;
  height: auto;
}

.icon {
  font-size: 35px;
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.icon-left {
  left: 2%;
}

.icon-right {
  left: 93%
}

.carousel-holder {
  position: relative;
  z-index: -1;
}


.topic-text {
  line-height: 25px;
  max-height: 125px;
  overflow: hidden;
}

.singlePostfunctions {
  color: grey;
}
